<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="NTTU.BigODM.MachineLearning.Weka" version="1.0.0.3" targetFramework="net461" />
  <package id="Pcap.Net.x86" version="1.0.4.1" targetFramework="net461" />
</packages>